body {
  font-family: Verdana, Arial, sans-serif;
  width: 320px;
}

.menu {
  display: flex;
  flex-direction: column;
  border: 1px solid #DDDDDD;
}

.text-menu {
  display: flex;
  justify-content: center;
}

.item-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #DDDDDD;
  padding: 5px;
}

.btn-activate {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}